# CAP pizzapreference
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
.vscode/
app/pizzapreference/node_modules/
app/pizzapreference/dist/
app/pizzapreference/pizzapreference-content.zip
Makefile_*.mta
app/resources/pizzapreference-content.zip